:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #ffffff;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --second-bcg-color: #f5f4fa;
    --secondary-bcg-studio: #2f303a;
    --secondary-text-color: #000000;
}