.benefits {
  display: block;
  @media screen and (min width:768px) {
    display: flex;
    
  }

  &__item {
    @media screen and (min-width: 480px) {
        width: 450px;
      }
    
      @media screen and (min-width: 768px) {
        width: 354px;
      }
    
      @media screen and (min-width: 1200px) {
        width: 270px;
      }
  }

  &__icon {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--second-bcg-color);
      @media screen and (min-width: 480px) {
          width: 450px;
        }
      
        @media screen and (min-width: 768px) {
          width: 354px;
        }
      
        @media screen and (min-width: 1200px) {
          width: 270px;
        }
  }
  &__title {
    @include font(14px, 700, 1.14);

    margin-bottom: 10px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    @media screen and (min-width: 768px) {
        text-align: left;
      }
  }
  &__text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}
